.container{
	width:10rem;
    height: 17.7867rem;
	overflow:hidden;
	margin:0 auto;
    background: url('../img/login_bg.png') no-repeat;
    background-size: contain;
    form{
        margin-top: 7.4133rem;
    }
}
.common-div {
	width:9.28rem;
    height:1.3333rem;
	overflow:hidden;
    margin: 0 auto;
	margin-bottom:1.0667rem;
    background:#e7f1fb;
    border-radius:4px;
    
}
.common-div >.common-icon{
	float:left;
	width:1.28rem;
	height:1.1733rem;
	overflow:hidden;
    font-size: 0.8rem;
    line-height: 1.1733rem;
    text-align: center;
}
.common-div >input{
	float:left;
	width:8rem;
	height:1.3333rem;
	background:#e7f1fb;
    border-radius:4px;
	border:none;
	outline:none;
	font-size:16px;
	color:#333;
}
.login-btn{
    width:5.6rem;
    height:1.12rem;
    line-height: 1.12rem;
    border-radius:1.0667rem;
    margin: 0 auto;
	background-image:linear-gradient(-180deg, #5dd6f6 4%, #38b0fe 100%);
    text-align: center;
    font-family:PingFangSC-Medium;
    font-size:18px;
    color:#ffffff;
}



