@import url('reset.less');
.container {
    background: #edf1f4;
    width: 100%;
    height: 100%;
    header {
        height: 100px;
        width: 100%;
        background-image: linear-gradient(-180deg, #5dd6f6 4%, #39b1fd 100%);
        .logo {
            float: left;
            width: 2.0267rem;
            height: 2.1333rem;
            margin-top: 0.32rem;
            margin-left: 1.28rem;
            background: url('../img/logo.png') no-repeat;
            background-size: contain;
        }
        section {
            background: #fff;
        }
        .slogan {
            float: right;
            margin-right: 1.3333rem;
            margin-top: 0.7467rem;
            width: 5.3333rem;
            height: 1.6rem;
            color: #fff;
            text-align: center;
            p {
                font-size: 14px;
                height: 0.5333rem;
            }
            h3 {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .title-cells {
        margin-top: 0;
    }
    .weui-cell {
        .weui-cell__hd {
            span {
                font-size: 24px;
                margin-right: 0.32rem;
            }
        }
        .weui-cell__bd {
            p {
                font-size: 16px;
                color: #999999;
            }
        }
        .weui-cell__ft {
            font-size: 16px;
            color: #000000;
            ;
        }
    } 
    .view-content{
        .weui-cell__ft{
            width: 5.8667rem;
        }
    }
}