@import url('reset.less');
img{
    width: 26px;
    height: 26px;
}
.weui-icon_msg {
    font-size: 26px;
    color: #1296DB;
}
.weui-cells__title{
    color: #000;
    font-size: 16px;
}
p{
    font-size: 16px;
    text-indent: 6px;
}
.project{
    input{
        // position: relative;
        width: 4rem;
        height: 0.64rem;
    }
    ul{
        position: absolute;
        top:0;
        left: 0;
        width: 4.04rem;
        display: none;
        z-index: 99;
        background: #fff;
        border: 1px solid #999;
        li{
            width: 3.8933rem;
            height: 0.6667rem;
            padding: 0.08rem;
            line-height: 0.6667rem;
            font-size: 14px;
            color: #777;
            cursor: pointer;
            &:hover{
            background-color: #e5e5e5;
            text-decoration: underline;
        }
        }
        
    }
}

 